<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>.NET Intro</title>
</head>
<body>
  <h1>.NET Intro</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur autem pariatur placeat et, saepe quasi, consectetur, soluta necessitatibus ex quas nisi libero alias? Ratione reprehenderit atque iste nostrum iure minima?</p>
</body>
</html>