<h1>Create a Hat</h1>

@* ViewBag.People is available *@

@model Hat
<form action="/create-hat" method="post">
  <div class="form-group">
    <label asp-for="PersonId"></label>
    <select asp-for="PersonId" class="form-control">
      @foreach(var person in ViewBag.People)
      {
        <option value="@person.PersonId">@person.FirstName @person.LastName</option>
      }
    </select>
    <span asp-validation-for="PersonId" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Color"></label>
    <input asp-for="Color" class="form-control">
    <span asp-validation-for="Color" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Brand"></label>
    <input asp-for="Brand" class="form-control">
    <span asp-validation-for="Brand" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Adjustable"></label>
    <input asp-for="Adjustable" class="form-control">
    <span asp-validation-for="Adjustable" class="text-danger"></span>
  </div>
  <button class="btn btn-primary">Create</button>
</form>